.page-header {
  text-align: center;

  p {
    margin: 0 0 1.5em 0;
    font-size: $font-size-h3;
    text-transform: lowercase;
  }
}

.logo {
  letter-spacing: -0.02em;
  line-height: 1;
  text-shadow: 1px 1px 0px $gray-base;
  font-size: ($font-size-base * 6.2);
  margin: .1em 0 0;

  a {
    color: $gray-light;
    text-decoration: none !important;
  }
}

.nav {
  list-style: none;
  margin: 1em;
  font-size: $font-size-h3;
  text-transform: lowercase;

  li {
    display: inline-block;
    margin: 0 1.5em;
  }
}