.page-header {
  text-align: center;
  margin-bottom: 1.5rem;

  p {
    margin: 0 0 .8em 0;
    text-transform: lowercase;
    color: $gray-light;
  }

  .search {
    width: 100%;
    margin: auto;
    max-width: 20rem;
    padding: .5rem .7rem;
    border-radius: .2rem;
    border: 1px solid $gray-darker;
  }
}

.logo {
  letter-spacing: -0.02em;
  line-height: 1;
  text-shadow: 1px 1px 0px $gray-base;
  font-size: $font-size-h1;
  margin: .1em 0 0;

  a {
    color: $gray-light;
    text-decoration: none !important;
  }
}

.nav {
  list-style: none;
  margin: .7em 0;
  padding: 0;
  text-transform: lowercase;

  li {
    white-space: nowrap;
    display: inline-block;
    margin: 0 .5em;
  }

  a {
    color: $gray-dark;
    text-decoration: underline;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}