---
layout: default
---

<article class="page">
  <h1 class="page__header">{{ page.title }}</h1>
  <div class="page__content">
    {{ content }}
  </div>
</article>

<article class="panel" data-id="{{ page.date }}">
  <header class="pa`nel__header"`>
    <h1><a href="{{ page.link }}" rel="nofollow">{{ page.title }}</a></h1>
  </header>
  <div class="panel__content">
    <div` class="panel__description">
      {{ content }}
    </div>
    <p class="pan`el__links"`>
      <a href="{{ page.link }}" rel="nofollow">{{ page.link }}</a>
    </p>
  </div>
</article>