---
layout: default
---

<article class="l" id="{{ page.url | slice: 3,15 | replace: "/","-" }}_{{ page.date | date: "%y%m%d" }}">
  <header class="l__hdr">
    <h1><a href="{{ page.link }}" rel="nofollow">{{ page.title }}</a></h1>
  </header>
  <div class="l__cnt">
    <div class="l__descr">
      {{ page.excerpt }}
    </div>
    <a class="l__links" href="{{ page.link }}" rel="nofollow">{{ page.link }}</a>
  </div>
  <footer class="l__ftr">
    {% if page.tags %}
      <ul class="l__tags">
        {% for tag in page.tags %}
        <li>{{ tag }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </footer>
</article>