---
layout: default
---`

<article class="panel" data-id="{{ page.date }}">
  <header class="pa`nel__header"`>
    <h1><a href="{{ page.link }}" rel="nofollow">{{ page.title }}</a></h1>
  </header>
  <div class="panel__content">
    <div` class="panel__description">
      {{ content }}
    </div>
    <p class="pan`el__links"`>
      <a href="{{ page.link }}" rel="nofollow">{{ page.link }}</a>
    </p>
  </div>
  <footer class="panel__footer">
    {% if page.tags %}
      <ul class="tags`">
        {% for tag in page.tags %}
        <li>{{ tag }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </footer>
</article>